.Button {
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
  background: cornflowerblue;
  color: #fff;
  margin-right: 1rem;
}

.Button:hover {
  background: navy;
}

.PersonManager input {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
}
