.ContactDetails {
  display: block;
}

.ContactDetails h3 {
  text-align: center;
}

.Submit {
  /* display: none; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  margin-bottom: 2rem;
}
