.SideDrawer {
  background: #1f4287;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  z-index: 200;
}

.Open {
  transform: translateX(0px);
}

.Close {
  transform: translateX(-700px);
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}
