.Person {
  text-align: center;
  margin: 1rem 5rem;
}

.Person input {
  padding: 1rem;
}

.Person p {
  padding: 1rem 0;
}

.Person span {
  background: red;
  color: white;
  padding: 0.3rem;
  margin-left: 1rem;
  cursor: pointer;
}
